/* Table of contents:

    1. Styling applied to every page
    2. Components
    3. Page-specific styling

*/

/* ****** */
/* Global */
/* ****** */
main {
  margin: 2rem 1rem 0 1rem;
  padding-bottom: 4rem;
  display: block;
  position: relative;
}

body {
  background-color: #fcf9f6 !important;
  position: relative;
  min-height: 100vh;
}

.float-right {
  float: right;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #f6bbc4;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 15px;
}

/* ****** */
/* Navbar */
/* ****** */
header {
  background-color: #f6bbc4;
  padding: 25px;
}

header a {
  color: #ffffff;
  font-size: 1rem;
  margin-right: 2rem;
}

header a.active {
  font-weight: bold;
  color: #fded9f;
}

header a:hover {
  color: #fff2b3;
}

header > a {
  text-decoration: none;
}

.logo {
  font-size: x-large;
  font-weight: 500;
}

/* Notifications button */
.notif_button {
  display: inline-block;
  position: relative;
  margin-top: 0.5rem;
}

.notif_button .badge {
  position: absolute;
  top: -10px;
  right: -20px;
  border-radius: 100%;
  background: red;
  color: white;
}

.notif_button:hover {
  filter: invert(10%) sepia(23%) saturate(405%) hue-rotate(317deg)
    brightness(103%) contrast(105%);
}

/* *************************************************************** */
/* ************************ PAGE-SPECIFIC ************************ */
/* *************************************************************** */

/* ************ */
/* Search page/landing page */
/* ************ */

.filter-pictures-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fcf9f6;
  font-size: 22px;
  font-weight: 1000px;
  font-style: bold;
}

/* .search-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    background-color: #f6bbc4;
    color: white;
    align-items: center;
  } */

.search-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #f6bbc4;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  color: white;
  align-items: center;
}

.filter {
  display: flex;
  align-items: center;
}

.filter label {
  margin-right: 5px;
  width: 50%;
}

.filter-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* align-items: flex-start; */
  margin-top: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  margin-top: 20px;
  background-color: #f6bbc4;
  color: white;
}

.filter-column .filter {
  margin-bottom: 10px;
}

.filter select {
  padding: 10px;
  width: 50%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #f6bbc4;
}

.filter input {
  width: 50%;
}

.animal-pictures {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: calc(
    100% - 220px
  ); /* Adjust the width based on the filter column width */
  align-items: flex-start;
}

.animal {
  width: 22%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  color: black;
  cursor: pointer;
}

.animal-text {
  padding: 10px;
}

.animal-text p {
  font-size: 1rem;
  margin-bottom: 0px;
}

.animal-text-title {
  font-weight: bold;
}

.animal img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.searchbutton,
.resetbutton {
  background-color: white;
  color: #f6bbc4;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700px;
  font-style: bold;
  height: 5%;
}

.searchbutton:hover {
  opacity: 0.8;
}

.resetbutton,
.searchbutton {
  padding: 10px 20px;
}

.resetbutton:hover {
  opacity: 0.8;
}

/* ************ */
/* Login and Signup */
/* ************ */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.login-box {
  background-color: #f6bbc4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-group .error-message {
  color: red;
  font-size: 18px;
}

.radio-option {
  display: inline-block;
}
.extend {
  display: flex;
  justify-content: space-around;
}

.loginbutton {
  width: 100%;
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #f6bbc4;
  font-size: 16px;
  cursor: pointer;
}

.loginbutton:hover {
  background-color: #ec9aaf;
}

.loginbutton:active {
  background-color: #df889e;
}

/* ************ */
/* END   Search page/landing page */
/* ************ */

@media (max-width: 1170px) {
  body {
    font-size: 14px;
  }

  .login-container {
    width: 90%;
    margin: auto;
  }

  .login-box {
    width: 100%;
  }
}

/* ASIF */

.small-header {
  display: none;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.large-header {
  display: block;
}

.header-btn {
  background: none;
  border: none;
  color: white;
}

@media (max-width: 800px) {
  .small-header {
    display: flex;
  }

  .large-header {
    display: none;
  }

  .search-row {
    display: none;
  }

  .filter-column {
    display: none;
  }

  .animal-pictures {
    width: 100%;
    flex-direction: column;
  }

  .animal {
    width: 100%;
    margin: 0px;
    margin-bottom: 2rem;
  }

  .filter {
    margin-bottom: 2rem;
  }
}

.pop-up-buttons {
  display: flex;
  justify-content: space-evenly;
}

.pop-up-buttons button {
  background-color: #ec9aaf;
  color: #ffffff;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
