/* Table of contents:

    1. Styling applied to every page
    2. Components
    3. Page-specific styling

*/

/* ****** */
/* Global */
/* ****** */
main {
    margin: 2rem 1rem 0 1rem;
    padding-bottom: 4rem;
    display: block;
    position: relative;
}

body {
    background-color: #fcf9f6 !important;
    position: relative;
    min-height: 100vh;
}

.float-right {
    float: right;
}

/* ************************************************************ */
/* ************************ COMPONENTS ************************ */
/* ************************************************************ */

/* ***** */
/* Cards */
/* ***** */
.card-image {
    height: 20rem;
    object-fit: cover;
}

/* ****** */
/* Footer */
/* ****** */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: #f6bbc4;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
}


/* ****** */
/* Navbar */
/* ****** */
header {
    background-color: #f6bbc4;
    padding: 25px;  
}
  
header a {
    color: #ffffff;
    font-size: 1rem;
    margin-right: 2rem;
}

header a.active {
    font-weight: bold;
    color: #fded9f;
}

header a:hover {
    color: #fff2b3;
}

header > a {
    text-decoration: none;
}

.logo {
    font-size: x-large;
    font-weight: 500;
}


/* Notifications button */
.notif_button {
    display: inline-block;
    position: relative;
    margin-top: 0.5rem;
}

.notif_button .badge {
    position: absolute;
    top: -10px;
    right: -20px;
    border-radius: 100%;
    background: red;
    color: white;
}

.notif_button:hover {
    filter: invert(10%) sepia(23%) saturate(405%) hue-rotate(317deg) brightness(103%) contrast(105%);
}


/* *************************************************************** */
/* ************************ PAGE-SPECIFIC ************************ */
/* *************************************************************** */

/* ****************** */
/* Notifications Page */
/* ****************** */
.notif-date {
    color: #808080;
    font-size: small;
}

/* ************ */
/* Edit Profile */
/* ************ */
.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-size: cover;
    overflow: hidden;
    display: block;
    margin: auto;
    /* For the text and blurring: */
    background-blend-mode: multiply;
    color: transparent;
    text-align: center;
}

.profile-pic:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: white;
    transition: all .3s ease;
    cursor: pointer;
}

.profile-pic span {
    display: inline-block;
    margin-top: 88px;
}

#shelterPic {
    background-image: url('../images/sample_shelter_pic.png');
}

#seekerPic {
    background-image: url('../images/seeker_pic.png');
}

#editShelterPic, #editSeekerPic {
    display: none;
}

/* ************ */
/* Pet Adoption */
/* ************ */
.required {
    font-size: 10px;
    color: red;
    font-weight: bold;
}


.about {
    margin-bottom: 32px;
}

.desc {
    margin-bottom: 15px;
}

.date{
    margin-top: 5px;
    margin-right: -10px;
}

/* ************ */
/* Pet Creation */
/* ************ */

.form-row {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}
.form-row1 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}
/* ************ */
/* Shelter Detail */
/* ************ */
i {
    margin-right: 10px;
}
#logo {
    width: 200px;
    height: 200px;
}
.row a {
    text-decoration: none;
}
.mission p{
    text-align: justify;
}
.heading {
    font-size: 25px;
    margin-right: 25px;
}
.fa {
    font-size: 25px;
}
.checked {
    color: gold;
}
.container1 {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}
.container1 img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}
.container1 span{
    font-size: 20px;
    margin-right: 15px;
}
.response {
    padding-left: 50px;
}

/* ************ */
/* Pet Update */
/* ************ */
.image-container {
    overflow-x: auto;
    white-space: nowrap; 
}
.image-item {
    display: inline-block;
    margin-right: 10px; 
}
.image-item img {
    max-width: 100px; 
    height: auto;
}
