header {
    background-color: #f6bbc4;
    padding: 25px;  
}
  
.link {
    color: #ffffff;
    font-size: 1rem;
    margin-right: 2rem;
    text-decoration: none;
}

.active {
    font-weight: bold;
    color: #fded9f;
}

.link:hover {
    color: #fff2b3;
}

.logo {
    font-size: x-large;
    font-weight: 500;
}
.logo_image {
    margin-left: 5px;
    padding-top: 10px;
    display: inline;
}

.notif_button {
    display: inline-block;
    position: relative;
    /* margin-top: 0.3rem; */
    padding-top: 10px;
    width: 25px;
    
}

.notif_button .badge {
    position: absolute;
    top: -10px;
    right: -20px;
    border-radius: 100%;
    background: red;
    color: white;
}

.notif_button:hover {
    filter: invert(10%) sepia(23%) saturate(405%) hue-rotate(317deg) brightness(103%) contrast(105%);
    transform: scale(1.2);
}

.float-right {
    float: right;
}

.myprofile-link {
    text-decoration: none;
    color: black;
}

.myprofile-dropdown {
    margin-top: 10px;
}

.myprofile-dropdown:hover {
    background-color: #fded9f !important;
}
