.commentContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 1px solid gray;
    padding: 10px;
    box-sizing: border-box;
  }
  
.profile-pic {
    grid-column: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .userInfo {
    grid-column: 2;
    display: flex;
    flex-direction: column;
  }
  
  p {
    margin: 0;
    /* font-weight: bold; */
  }
  
  input {
    margin-bottom: 10px; 
  }

  .newClass{
        background-color: #f6bcc5;
        color: white;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 4px;
  }
  
  button {
    background-color: #f6bcc5;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .newClass:hover {
    background-color: #f9acb9;
  }
