.pet-detail-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
}

.info-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
}

.button-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    margin-top: 20px;
}

.adopt-button {
    background-color: #f6bbc4 !important;
    color: #ffffff !important;
}

.adopt-button:hover {
    background-color: #ffffff !important;
    color: #f6bbc4 !important;
}

.back-nav {
    text-decoration: none;
    color:#f6bbc4;
    font-size: large;
}

.pet-pic {
    height: 100%;
 }

