
.search-page-buttons {
    margin-bottom: 50px;
}

.search-page-buttons > a {
    text-decoration: none;
    color:#f6bbc4;
    font-size: large;
}

.filter-button {
    margin-right: 15px;
    background-color: #f6bbc4 !important;
    color: #ffffff !important;
}

.filter-button:hover {
    background-color: #ffffff !important;
    color: #f6bbc4 !important;
}

.sort-button {
    background-color: #f6bbc4 !important;
    color: #ffffff !important;
}

.sort-button:hover {
    background-color: #ffffff !important;
    color: #f6bbc4 !important;
}

.listings {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    padding: 10px;
}

.float-right {
    float: right;
}

.nav-button {
    background-color: #f6bbc4 !important;
    color: #ffffff !important;
    margin-top: 10px;
    margin-right: 15px; 
}
